* {
  margin: 0 ;
  padding: 0;
}
@media only screen and (max-device-width: 900px) {
}
.body, html {
  background: white;
  font-family: 'DM Serif Display', serif;
  font-family: 'Raleway', serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  } 
.header {
   background-color:#e97fce;
   overflow: hidden;
   }
.header--topo {
   background-color:solid 5px #e97fce;
   padding: 10px;
   text-align: center;
   width: 100%;
   padding: 8px;
   margin: 0 auto;
   display: flex;
   justify-content: center;    
   }

.main {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: auto;
}
.carousel {
  overflow: hidden;
  max-width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-left:  auto;
  margin-right:  auto;
  margin-top: 80px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel .carousel__actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #e97fce;
}

.carousel .carousel__actions button[data-js="carousel__button--prev"] {
  margin-left: 20px;
}

.carousel .carousel__actions button[data-js="carousel__button--next"] {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
  .imagem__capa {
    width: 100%;
} 

   .imagem__capa1 {
    width: 100%;
    height:max-content;
    display:flex;
    align-items: flex-end;
    width: 35%;
    margin-top: 30px;
}

   .img {
    align-items: center;
   }

  .titulo1 {
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-left: 25px;
    line-height: 150%;
  }

  .biografia {
    width: 100%;
    box-sizing: border-box;
    max-width: 800px;
    padding: 3px;
    margin-top: auto;
    display: block;
    margin: 25px auto ;
    font-size: 20px;
  }

  .descricao2 {
    justify-items: center;
    text-align: center;
    align-items: center;
  }

  .descricao3 {
    justify-items: center;
    text-align: center;
  }

    .imagem1 {
      max-width: 100%;
      width: 500px;
      margin-top: 10px; 
  }

    .imagem2 {
      width: 500px;
      max-width: 100%;
      margin-top: 10px;
    }

    .história2 {
      align-items: center;;
      text-align: center;
      margin: 10px;
    }

  .imagem__capa1 {
     width: 500px;
     max-width: 100%;
     object-fit: cover;
     object-position: bottom;
  }

    .legenda1 {
      font-size: 12px;
      font-family: 'Raleway', serif;
      text-align: center;
    }

  .titulo2 {
    font-family: 'Raleway', serif;
    font-size: 25px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-top: 25px;
    margin-left: 0;
    margin: 10px;
  }

  .p {
      justify-content: center;
      text-align: center;
      margin: 10px;
      margin-top: 10px;
}

  .texto1 {
    font-family: 'Raleway', serif;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-top: 45px;
  }

  .texto2 {
    font-family: 'Raleway', serif;
    font-size: 15px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    margin: 10px;
  }

  .texto3 {
    font-family: 'Raleway', serif;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
  }

  .texto4 {
    font-family: 'Raleway', serif;
    font-size: 15px;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-top: 10px;
  }

  .texto5 {
    font-family: 'Raleway', serif;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-top: 25px;
    font-size:  17px;
    font-style: italic;
  }

  .texto6 {
    font-family: 'DM Serif Display', serif;
    font-size:  20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
  }

  .texto7 {
    font-family: 'Raleway', serif;
    font-size:  15px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    margin: 10px;
  }

  .titulo3 {
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-top: 40px;
  }

  .section {
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between; 
}

  .section__titulo {
    font-size: 24px;
    font-weight: 400;
    box-sizing: border-box;
    color:#e97fce;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;

  }

  .footer {
    background-color:#e97fce;
    opacity: 90%;
    justify-items: center;
    height: 160px;
    width: 100%;
    margin-top: 0 auto;
    height: 150px;
    position: absolute;

  }
  .footer.social {
    text-align: center;
    padding-bottom: 25px;
    
  }
  .social {
    text-align: center; 
    margin-top: 23px;
  }

  .footer .social a {
    font-size: 24px;
    color: inherit;
    line-height: 38px;
    display: inline-block;
    margin: 0 8px;
    text-align: center;
    width: 30px;
    height: auto;
    
    
  }

  .icone__git {
    width: 30px;
  }

  .icone__linkedin {
    width: 30px;
  }

  .icone__womakers {
    width: 30px;
  }

  .footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  }

  .footer ul li a {
    color: inherit;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
  }

  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }

  .footer .autora {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: black;
    margin-bottom: auto;
  }

  @media only screen and (max-width: 480px) {
    img {
      width: 100%;
      object-fit: cover;
      box-sizing: border-box;
      margin: auto;
      display: flex;
      justify-content: center;
      align-content: center;
    }
  }